django
djangorestframework
python-decouple
djangorestframework-simplejwt
pillow
django-daisy
icecream
uvicorn
gunicorn
whitenoise
django-debug-toolbar
django-cors-headers
django-import-export[all]
drf-standardized-errors
psycopg
django-filter
django-redis
django-ratelimit
django-schema-viewer
celery
flower
adrf
drf-spectacular[sidecar]
djangorestframework-jsonapi[django-filter]
Faker
psycopg2-binary
django-rosetta
django-parler
django-parler-rest
